
  /* #region spinner */
  
  [u-spinner-size=xs] {
    --spinner-size: var(--size-xs);
  }
  [u-spinner-size=sm] {
    --spinner-size: var(--size-sm);
  }
  [u-spinner-size=md] {
    --spinner-size: var(--size-md);
  }
  [u-spinner-size=lg] {
    --spinner-size: var(--size-lg);
  }
  [u-spinner-size=xl] {
    --spinner-size: var(--size-xl);
  }
  
  [u-spinner-color=primary] {
    --spinner-bg: var(--color-primary-500);
  }
  [u-spinner-color=secondary] {
    --spinner-bg: var(--color-secondary-500);
  }
  [u-spinner-color=success] {
    --spinner-bg: var(--color-success-500);
  }
  [u-spinner-color=info] {
    --spinner-bg: var(--color-info-500);
  }
  [u-spinner-color=warning] {
    --spinner-bg: var(--color-warning-500);
  }
  [u-spinner-color=error] {
    --spinner-bg: var(--color-error-500);
  }
  [u-spinner-color=dark] {
    --spinner-bg: var(--color-dark-300);
  }
  [u-spinner-color=light] {
    --spinner-bg: var(--color-light-300);
  }
  
  [u-spinner]{
    display: inline-block;
    border-style: solid;
    border-radius: 50%;
    width: var(--spinner-size);
    height: var(--spinner-size);
    border-width: calc(var(--size-xxs) * 0.5);
    border-color: var(--spinner-bg);
    border-top-color: transparent;
    animation: u-spinner-animation 0.6s linear infinite;
  }
  
  @keyframes u-spinner-animation {
    to {
      transform: rotate(360deg);
    }
  }
  
  /* #endregion  */
  