$colors: (
    'primary',
    'secondary',
    'success',
    'danger',
    'warning',
    'info'
);


$sizes: (
    'xs',
    'sm',
    'md',
    'lg',
    'xl'
);

$prefix: 'u';

$button: [u-button];
$button-group: [u-button-group];
$icon: [u-icon];
$input: [u-input];
$accordion: [u-accordion];
$accordion-header: [u-accordion-header];
$accordion-body: [u-accordion-body];